/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
}

html,
body {
    scroll-behavior: smooth;
    // font-family: 'Gelasio', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.news-header {
    text-align: center;
    border-bottom: 2px solid $red;

    h2 {
        color: #fff;
        background-color: $red;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        padding: 5px 10px;
        margin-bottom: 0px;
    }
}

.heading-title {
        color: $red;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 20px;
}

.arrows {
    margin: 5px 20px 20px;

    a {
        margin-right: 5px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        @include transition(.3s);

        &:hover {
            background-color: $hoverColor;
            border: 1px solid $hoverColor;
        }

        i {
            color: #ccc;
            font-size: 12px;
        }
    }

}

.view-all {
    font-size: 12px;
    background-color: #141414;
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 3px;
    @include transition(.3s);

    i {
        margin-left: 5px;
    }

    &:hover {
        background-color: $hoverColor;
    }
}
/* Change text & background color */


a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

ul,
ol {
    list-style: none;
}





/* Footer Style */
.footer {

    .copyright {
        font-size: 0.8rem;

        &__link {

            &:hover,
            &:focus {
                text-decoration: underline #ddb180;
            }
        }
    }
}